body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f1bede;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 15px;
}

.input-section input {
    width: 80px;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.operations {
    margin-top: 20px;
}

.operations button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #b4499d;
    color: white;
    cursor: pointer;
}

.operations button:hover {
    background-color: #b30089;
}
#result {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
}

.result {
    margin-top: 70px;
    padding: 50px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
}
